.auth-page {
  background-image: url("/images/auth1.png");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}
.home-page{
  background-image: url("/images/home-main.png");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}