@config "../tailwind.config.js";
@import "tailwindcss";
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #f4681f;
  --clr-primary-a10: #f97a3a;
  --clr-primary-a20: #fd8c53;
  --clr-primary-a30: #ff9d6b;
  --clr-primary-a40: #ffad83;
  --clr-primary-a50: #ffbe9b;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #1a1a1a;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #ffffffb3;
  --clr-card-bg: #59595932;
  --clr-card-hover-bg: #5959594c;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #271b15;
  --clr-surface-tonal-a10: #3c302a;
  --clr-surface-tonal-a20: #524641;
  --clr-surface-tonal-a30: #685e59;
  --clr-surface-tonal-a40: #807772;
  --clr-surface-tonal-a50: #98908d;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito";
  background-color: var(--clr-surface-a0);
  color: var(--clr-light-a0);
}

/*  NAVBAR  */
nav {
  position: fixed;
  width: 100%;
}
nav a {
  color: var(--clr-surface-a50);
}
nav a:hover {
  color: var(--clr-light-a0);
}
nav a.active {
  color: var(--clr-primary-a0);
}

/*  BUTTONS  */
button {
  outline: none;
  border: none;
  cursor: pointer;
}
button,
button:hover {
  transition: 0.3s;
}
.primary-btn {
  background-color: var(--clr-primary-a0);
  color: var(--clr-dark-a0);
}
.primary-btn:hover {
  background-color: transparent;
  border: 1px solid var(--clr-primary-a0);
  color: var(--clr-primary-a0);
}
.secondary-btn {
  background-color: var(--clr-surface-a20);
  color: var(--clr-light-a0);
}
.secondary-btn:hover {
  background-color: var(--clr-surface-a30);
}
.ghost-btn {
  background-color: transparent;
  color: var(--clr-light-a0);
}
.ghost-btn:hover {
  color: var(--clr-primary-a20);
}

/*  INPUT  */
input {
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--clr-surface-a50);
  padding: 8px 15px;
  transition: 0.3s;
  display: block;
  border-radius: 3px;
  width: 100%;
  color: var(--clr-surface-a50);
}
input::placeholder {
  color: var(--clr-surface-a50);
}
input:hover {
  border-bottom: 1px solid var(--clr-primary-a0);
  transition: 0.3s;
}


